{% extends "article_list.html" %}

{% block top_content %}
<div style="width:45%; float:left;">
<h2>About</h2>
<p>
The annual SciPy Conferences allows participants from academic, commercial, and governmental organizations to:
</p>
<ul>
<li> showcase their latest Scientific Python projects, </li>
<li>learn from skilled users and developers, and </li>
<li>collaborate on code development. </li>
</ul>
<p>
The conferences generally consists of multiple days of tutorials followed by two-three days of presentations, and concludes with 1-2 days developer sprints on projects of interest to the attendees.
</p>
</div>

<div style="width:45%; float: right;">
<h2>Upcoming</h2>

<h3><a href="http://scipy.in">SciPyIndia 2013</a></h3>
<p>Mumbai, December 4-7, 2013</p></p>    

<h3><a href="http://conference.scipy.org/scipy2014/">SciPy 2014</a></h3>
<p>Austin, TX, July 6-12 2014</p>

<h3><a href="http://www.euroscipy.org/">EuroSciPy 2014</a></h3>
<p>Dates to be announced</p>
</div>


<hr/>

<h2>Recent News</h2>
{% endblock %}
