{% extends "article_list.html" %}

{% block top_content %}
<div style="width:45%; float:left;">
<h2>About</h2>
<p>
The annual SciPy Conferences allows participants from academic, commercial, and governmental organizations to:
</p>
<ul>
<li>showcase their latest Scientific Python projects, </li>
<li>learn from skilled users and developers, and </li>
<li>collaborate on code development. </li>
</ul>
<p>
The conferences generally consists of multiple days of tutorials followed by two-three days of presentations, and concludes with 1-2 days developer sprints on projects of interest to the attendees.
</p>
</div>

<div style="width:45%; float: right;">
<h2>Upcoming</h2>

<h3><a href="http://conference.scipy.org/scipy2014/">SciPy 2014</a></h3>
<p>Austin, TX, July 6-12 2014</p>

<h3><a href="http://www.euroscipy.org/2014">EuroSciPy 2014</a></h3>
<p>Cambridge, England, August 27-30, 2014 </p>

<h3><a href="http://scipycon.com.ar/">SciPyArgentina 2014</a></h3>
<p>Bahia Blanca (Buenos Aires) at Universidad Nacional del Sur, September 22-26, 2014</p>

<h3><a href="http://scipy.in">SciPyIndia 2014</a></h3>
<p>TBA</p>

</div>


<hr/>

<h2>Recent News</h2>
{% endblock %}
