{% extends "article_list.html" %}

{% block top_content %}

<h2>Upcoming Scipy Conferences</h2>
    
<h3><a href="http://conference.scipy.org/scipy2014/">SciPy 2014</a></h3>
<p>13th annual Python in Science conference<br />
  Austin, TX, July 6-12 2014</p>
<p><strong>Sun Jul 06 - Mon Jul 07</strong>: Tutorials<br />
<strong>Tue Jul 08 - Wed Jul 10</strong>: Main Conference Session<br />
<strong>Fri Jul 11 - Sat Jul 12</strong>: Sprints  </p>
<h3><a href="http://www.euroscipy.org/">EuroSciPy 2014</a></h3>
<p>6th European meeting on Python in Science<br />
  To be announced</p>
<h3><a href="http://scipy.in">SciPyIndia 2013</a></h3>
<p>Mumbai, December 4-7</p></p>

<hr/>

<h2>Recent News</h2>
{% endblock %}
