.top-bar {
    border-bottom: 1px solid #005db8;
}
.top-bar h1 {
    padding-top: 15px;
    text-shadow: 2px 2px #005db8;
}
ul {
    list-style-position: inside;
}
table.projects {
    table-layout: fixed;
}
table.projects td {
    text-align: center;
    vertical-align: middle;
}
table.projects a {
    color: black;
    font-weight: bold;
}
.light {
    color: #808080;
}
