.top-bar {
    border-bottom: 1px solid #005db8;
}
.top-bar h1 {
    padding-top: 15px;
    text-shadow: 2px 2px #005db8;
}
ul {
    list-style-position: inside;
}
table {
    table-layout: fixed;
}
table th {
    text-align: center !important;
}
table.program th:first-child {
    width: auto;
}
table th:first-child {
    width: 200px;
    text-align: left !important;
}
table.projects {
    table-layout: fixed;
}
table.projects td {
    text-align: center;
    vertical-align: middle;
}
table.projects a {
    color: black;
    font-weight: bold;
}
.light {
    color: #808080;
}
#ecoscipy {
    background-color: #dff7d6;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 1px #007f00;
    margin-bottom: 30px;
}
#ecoscipy * {
    color: #007f00;
}
#ecoscipy h4 img {
    width: 25px;
    margin-right: 10px;
}
#ecoscipy img.photo {
    width: 200px;
    float: right;
    margin: 0 15px 10px;
    border-radius: 3px;
    border: solid 1px #007f00;
}
#ecoscipy li {
    margin-bottom: 20px;
}
